@import '~@angular/material/_theming';
@import '../../common';

mat-card {
  height: 400px;
  width: 600px;
  background: rgba(0, 0, 0, 0.9);
  margin: 50px auto;
  z-index: 9;
  color: #fff;

  h1 {
    color: $primary-color;
  }

  .picks {
    height: 300px;
    width: 100%;

    .ordering {
      width: 100px;

      p {
        font-size: 20px;

        .rank {
          color: $primary-color;
          font-weight: bold;
        }
      }
    }
  }
}
