<rowdy-container [hasWallpaper]="true">
  <mat-card  fxLayout="column" fxLayoutAlign="center center">
    <h1>Draft Order</h1>
    <div class="picks" fxLayout="row" fxLayoutAlign="space-around center">
      <div class="ordering">
        <p><span class="rank">1. </span>Goolsby</p>
        <p><span class="rank">2. </span> Brett</p>
        <p><span class="rank">3. </span>Dan</p>
        <p><span class="rank">4. </span>Steve</p>
        <p><span class="rank">5. </span>Colin</p>
      </div>
      <div class="ordering">
        <p><span class="rank">6. </span>Zel</p>
        <p><span class="rank">7. </span> Corey</p>
        <p><span class="rank">8. </span>Tom</p>
        <p><span class="rank">9. </span>Pfander</p>
        <p><span class="rank">10. </span>Street</p>
      </div>
      <div class="ordering">
        <p><span class="rank">11. </span>Graham</p>
        <p><span class="rank">12. </span> Bo</p>
        <p><span class="rank">13. </span>Trent</p>
        <p><span class="rank">14. </span>Myers</p>
      </div>
    </div>
  </mat-card>
</rowdy-container>
