<nav class="sidenav">
  <a class="link" routerLink="/home" routerLinkActive="active-link">
    <img class="logo" src="assets/logo.png">
  </a>
  <a class="link" routerLink="/rankings" routerLinkActive="active-link">
    <mat-icon>format_list_numbered</mat-icon>
    <span class="label">Rankings</span>
  </a>
  <a class="link" routerLink="/history" routerLinkActive="active-link">
    <mat-icon>history</mat-icon>
    <span class="label">History</span>
  </a>
  <a class="link" routerLink="/rules" routerLinkActive="active-link">
    <mat-icon>gavel</mat-icon>
    <span class="label">Rules</span>
  </a>
  <a class="link" routerLink="/blog" routerLinkActive="active-link">
    <mat-icon>forum</mat-icon>
    <span class="label">Shit Talk</span>
  </a>
  <!-- <rowdy-social-icons></rowdy-social-icons> -->
</nav>
